$color-picker-preview-dot-size: 0px;
$color-picker-preview-dot-margin: 0px;
$btn-font-weight: 800;
// $text-field-solo-dense-outer-margin-top: 1px;
// $text-field-padding: 1px 0 1px;
// $text-field-outlined-margin-bottom: 3px;
// $text-field-enclosed-details-padding: 0 3px;
// $text-field-solo-outer-margin-top: 3px;
// $text-field-rounded-legend-margin: 3px;